@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Overpass';
    font-size: 15px;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.rating-card,
.thank-you-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(var(--dark-blue), var(--very-dark-blue));
    width: 25em;
    color: white;
    padding: 2em;
    border-radius: 1em;
    gap: 1em;
}

.thank-you-card {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rating-message {
    padding: .4em 1em;
    border-radius: 1em;
    background-color: hsl(0, 0%, 20%);
    color: var(--orange);
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 50%;
    margin-bottom: 1em;

}

.star img {
    height: 40%;
    width: 40%;
}

.ty-image img {
    margin-bottom: 1em;
}

p {
    color: var(--light-grey);
    margin-bottom: 1em;
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.rating {
    background-color: hsl(0, 0%, 20%);
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: var(--light-grey);
}

.rating:not(.selected):hover {
    cursor: pointer;
    background-color: var(--light-grey);
    color: white;
}

.rating:active {
    background-color: var(--orange);
}

.selected {
    background-color: var(--orange);
    color: white;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--orange);
    color: white;
    font-size: 1em;
    font-weight: 400;
    border-radius: 1em;
    padding: .5em 1em;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: white;
    color: var(--orange);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 99%);
}

.show {
    display: block;
}

.hide {
    display: none;
}